{% extends 'base.html.twig' %}

{% block title %}Crowdfunding Platform{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );">
        <div class="container">
            <h1 class="display-4">Crowdfunding Platform</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi asperiores aspernatur, atque beatae cumque, dignissimos dolor excepturi expedita facilis fugiat fugit hic inventore ipsum itaque labore laborum libero magni mollitia natus obcaecati provident quas ratione recusandae repellat saepe sed sunt tenetur voluptate voluptatum. Eaque laudantium modi odit placeat quia, quis quisquam quos sapiente sequi?</p>
        </div>
    </div>
    <div class="container">
        <div class="applications_block">
            <div class="row">
                <div class="col-md-9">
                    <h2>Applications</h2>
                </div>
                <div class="col-md-3" style="text-align: right;">
                    <a class="btn btn-outline-primary btn-sm" href="">Create new Application</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="projects_block">
            <div class="row">
                <div class="col-md-9">
                    <h2>Projects</h2>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
